<p>
	<strong>Title:</strong>
	<%= @post.title %>
	
</p>
	<strong>Text:</strong>
<%= @post.text %>
</p>

<%= image_tag @post.photo.url(:medium) %>


<p>
<%= link_to 'Back', posts_path %>
<%= link_to 'New', new_post_path %>
</p>
